PORT=8080

MONGO_URL=mongodb+srv://sahilsolanki_db_user:Y56igDFP8Lh69hcq@cluster0.xgnja8z.mongodb.net/ProductCatalog?appName=Cluster0

JWT_SECRET=secret
JWT_EXPIRES_IN=2h

ADMIN_NAME=Platform Administrator
ADMIN_EMAIL=admin@ops.com
ADMIN_PASSWORD=admin@095

CATALOG_UPLOAD_DIR=./storage/catalog-files
MAX_CATALOG_FILE_SIZE=10485760